#head{
  height: 100px;
  background: linear-gradient(to bottom, #3366ff 0%, #00ffff 100%);
}
#main{
    font: palatino;
    font-size: 20px;
    height: 800px;
    background: linear-gradient(to top, #00ffff 0%, #cc66ff 100%);
}

#footer{
  color:blue;
  font-size: 10 px;
}


.class{
  margin: 20px 10px 10px 20px;
}
